* {
    height: 100%;
  }

.back {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colors {
    height: 10%;
    
    
    
}

.hexColorInput {
    margin: 1rem;
}
.rgbColorOutput {
    margin: 1rem;
}